Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
configure
depcomp
install-sh
missing
src/Makefile.in
build
*.o
*.lo
*.la
.deps
.libs
/m4/*.m4
/config.*
/INSTALL
/libtool
/ltmain.sh
/stamp-h1
/src/usense
